.background {
  background-color: rgba(255, 255, 255, 1);
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-left: 20px;
  padding-right: 40px;
}

.section {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

.section a {
  color: inherit;
  text-decoration: none;
}

.tag {
  font-family: "BebasNeue";
  font-weight: 700;
  font-size: 200px;
  line-height: 184px;
  letter-spacing: -6px;
  color: #ffffff;
}

.block {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  border-top: 1px solid rgba(116, 116, 116, 1);
}

.rightBlock,
.leftBlock {
  width: 50%;
  min-height: 326px;
  padding-top: 40px;

  box-sizing: border-box;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightBlock {
  padding-left: 40px;
  border-left: 1px solid rgba(116, 116, 116, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  font-family: "VelaSans";
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.56px;
  max-width: 553px;
  color: rgba(255, 255, 255, 0.8);
}

.back {
  font-family: "VelaSans";
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.56px;
  color: rgba(134, 145, 156, 1);
  display: flex;
  gap: 5px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 15px;
}

.button {
  width: 356px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(253, 76, 56, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  margin: 0 auto;
  margin-top: 70px;
  font-family: "BebasNeue";
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0.56px;
  gap: 5px;
}

.button:hover {
  background-color: rgba(255, 97, 79, 1);
}

.button a {
  color: inherit;
  text-decoration: none;
}

.arrow {
  display: flex;
  position: relative;
  top: -3px;
}

.smallText {
  display: flex;
  font-family: "VelaSans";
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.32px;
  color: rgba(134, 145, 156, 1);
  max-width: 600px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.anchorBut {
  max-width: 720px;
  min-height: 90px;
  background: rgba(253, 76, 56, 1);
  border-radius: 12px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "BebasNeue";
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.56px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  gap: 5px;
}

.anchorBut:hover {
  background: rgba(255, 97, 79, 1);
  cursor: pointer;
}

.imageBlock {
  display: flex;
  gap: 33px;
}

.mob {
  display: none;
}

.pc {
  display: block;
}

.back a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 950px) {
  .mob {
    display: block;
  }

  .pc {
    display: none;
  }

  .background {
    background-color: #404850;
    padding-top: 100px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;

    box-sizing: border-box;
  }

  .section {
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
  }

  .tag {
    font-family: "BebasNeue";
    font-weight: 700;
    font-size: 80px;
    line-height: 72px;
    letter-spacing: -2.4px;
    color: #ffffff;
    margin-top: 30px;
  }

  .block {
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    border-top: 1px solid rgba(116, 116, 116, 1);
  }

  .rightBlock,
  .leftBlock {
    width: 50%;
    min-height: 326px;
    padding-top: 40px;

    box-sizing: border-box;
  }

  .leftBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .rightBlock {
    padding-left: 40px;
    border-left: 1px solid rgba(116, 116, 116, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .text {
    font-family: "VelaSans";
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.2px;
    max-width: 345px;
    color: rgba(255, 255, 255, 0.8);
  }

  .back {
    font-family: "VelaSans";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    gap: 5px;
  }

  .anchorBut {
    width: 345px;
    min-height: 70px;
    background: rgba(253, 76, 56, 1);
    border-radius: 12px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "BebasNeue";
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.56px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 5px;
    margin-top: 40px;
  }

  .anchorBut:hover {
    background: rgba(255, 97, 79, 1);
    cursor: pointer;
  }

  .imageBlock {
    display: flex;
    gap: 18px;
  }

  .imageBlock img {
    width: 35px;
    height: 35px;
  }
}
