.background {
  background-color: rgba(134, 145, 156, 1);
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

.section {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.smallTag {
  font-family: "BebasNeue";
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0.56px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
}

.block {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
  border-top: 2px solid rgba(149, 160, 171, 1);
  display: flex;
  margin-top: 40px;
}

.leftBlock,
.rightBlock {
  width: 50%;
  box-sizing: border-box;
  padding-top: 40px;
}

.leftBlock {
  border-right: 2px solid rgba(149, 160, 171, 1);
  font-family: "BebasNeue";
  font-weight: 700;
  font-size: 100px;
  letter-spacing: -2px;
  color: rgba(255, 255, 255, 1);
  line-height: 100px;
}

.rightBlock {
  padding-left: 40px;
  font-family: "VelaSans";
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.24px;
  color: rgba(255, 255, 255, 1);
}

.partnerSwiper {
  margin-top: 75px;
  overflow: hidden;
  padding: 0 0px;
  margin-left: 20px;
}

.swiperSlide {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: auto !important;
  height: 100%;
}

.blockSwiper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 60px 75px 50px 75px ;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);

  font-family: "BebasNeue";
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);

  text-align: center;
  white-space: nowrap;
}

.blockSwiperText {
  display: inline-block;
  transform: translateY(-0.06em);
}

.indicatorContainer {
  display: none;
}

@media (max-width: 1610px) {
  .partnerSwiper {
    margin-top: 75px;
    overflow: hidden;
    padding: 0 0px;
    margin-left: 0px;
  }
}

@media (max-width: 950px) {
  .background {
    padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    box-sizing: border-box;
  }

  .order {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mob {
    display: block;
  }

  .section {
    margin: 0 auto;
    box-sizing: border-box;
  }

  .smallTag {
    font-family: "BebasNeue";
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.4px;
    display: flex;
    justify-content: center;
  }

  .block {
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
    border-top: none;
    display: block;
    margin-top: 0px;
  }

  .leftBlock,
  .rightBlock {
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
  }

  .leftBlock {
    border-right: none;
    font-family: "BebasNeue";
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 1);
    line-height: 44px;
    text-align: center;
  }

  .rightBlock {
    padding-left: 0px;
    text-align: center;
    font-family: "VelaSans";
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: rgba(255, 255, 255, 1);
  }

  .partnerSwiper {
    margin-top: 40px;
    overflow: hidden;
    padding: 0 0px;
  }

  .swiperSlide {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: auto !important;
    height: 100%;
  }

  .blockSwiper {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 42.5px 34px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);

    font-family: "BebasNeue";
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 1);

    text-align: center;
    white-space: nowrap;
  }

  .blockSwiperText {
    display: inline-block;
    transform: translateY(-0.06em);
  }

  .invBlock {
    display: block;
    margin-top: 20px;
    border-top: 2px solid rgba(149, 160, 171, 1);
  }

  .leftBlockInv {
    border-right: 2px solid rgba(149, 160, 171, 1);
    height: 35px;
    width: 50%;
  }
}
